#backB{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-min-height: 20;
    -fx-spacing: 40;
    -fx-min-width: 20;
    -fx-font-size: 30;
}



#PE {
    -fx-spacing: 20;
    -fx-padding: 50, 20, 10, 0;
}


#GameS{
    -fx-spacing: 20;
    -fx-padding: 50, 20, 10, 20;

}

#LevelS {
    -fx-spacing: 20;
    -fx-padding: 50, 20, 10, 20;
}

#PAButton {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-min-height: 150;
    -fx-spacing: 40;
    -fx-min-width: 150;
    -fx-font-size: 30;
}


#PAButton {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-min-height: 150;
    -fx-spacing: 40;
    -fx-min-width: 150;
    -fx-font-size: 30;
}

#GButton {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-min-height: 50;
    -fx-spacing: 40;
    -fx-min-width: 150;
    -fx-font-size: 30;
}

#LButton {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-min-height: 50;
    -fx-spacing: 40;
    -fx-min-width: 150;
    -fx-font-size: 30;
}

